#carouselExampleCaptions .carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height: 50vh;
}

.carousel-control-prev-icon {
    background-color: gray;
}

.carousel-control-next-icon {
    background-color: gray;
}

h2 {
    color: gray;
}

.center {
    text-align: center;
}
