@model ToDoListsVM;

@{
    ViewData["Title"] = "Index";
}

<h1>ToDo lists</h1>

<p>
    <a asp-action="Add">Create New</a>

    <div class="form-check form-check-inline">
        <label class="control-label">Show all</label>
        <input class="form-check-input" type="checkbox" checked=@Model.ShowAll ? "checked" : "" onclick="window.location='@Url.Action("Index", "ToDoList", new { showAll = !Model.ShowAll })'" />
    </div>
</p>

<partial name = "_ListItems" model="@Model" />
