@model CreateTaskVM

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript" src="~/js/date-picker.js"></script>
    <script src="~/js/date-picker-disable.js"></script>
}

<h1>Edit</h1>

<h4>Task statuses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ToDoTask.Id" />
            <div class="form-group">
                <label asp-for="ToDoTask.Name" class="control-label"></label>
                <input asp-for="ToDoTask.Name" class="form-control" />
                <span asp-validation-for="ToDoTask.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoTask.Description" class="control-label"></label>
                <input asp-for="ToDoTask.Description" class="form-control" placeholder="Description optional" />
                <span asp-validation-for="ToDoTask.Description" class="text-danger"></span>
            </div>
            <label asp-for="ToDoTask.DueDate" class="control-label"></label>
            <div id='flatpickrcontainerDueDate'>
                <input asp-for="ToDoTask.DueDate" type="text" placeholder="Select Date.." data-input>
                <button type="button" class="btn btn-default" title="toggle" data-toggle>
                    <i class="bi bi-calendar-date fa-4x"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm" title="clear" data-clear>
                    <i class="bi bi-x-square fa-4x"></i>
                </button>
            </div>
            <div class="form-check form-switch">
                <label asp-for="ToDoTask.Reminder" class="form-check-label" for="flexSwitchCheckDefault">Reminder</label>
                <input asp-for="ToDoTask.Reminder" class="form-check-input" type="checkbox" id='reminder' />
                <span asp-validation-for="ToDoTask.Reminder" class="text-danger"></span>
            </div>
            <label asp-for="ToDoTask.ReminderDate" class="control-label"></label>
            <div id='flatpickrcontainerReminderDate'>
                <input asp-for="ToDoTask.ReminderDate" type="text" placeholder="Select Date.." id='reminderDate' data-input disabled>
                <button type="button" class="btn btn-default" title="toggle" data-toggle>
                    <i class="bi bi-calendar-date fa-4x"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm" title="clear" data-clear>
                    <i class="bi bi-x-square fa-4x"></i>
                </button>
            </div>
            <div class="form-check form-check-inline">
                <label asp-for="ToDoTask.Daily" class="control-label"></label>
                <input asp-for="ToDoTask.Daily" class="form-check-input" type="checkbox" id="inlineCheckbox1" />
                <span asp-validation-for="ToDoTask.Daily" class="text-danger"></span>
            </div>
            <div class="form-check form-check-inline">
                <label asp-for="ToDoTask.Important" class="control-label"></label>
                <input asp-for="ToDoTask.Important" class="form-check-input" type="checkbox" id="inlineCheckbox1" />
                <span asp-validation-for="ToDoTask.Important" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoTask.Category" class="form-label"></label>
                <select asp-for="CategoriesSelectedList.SelectedCategory" class="form-select" asp-items="Model.CategoriesSelectedList.Categories">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ToDoTask.Priority" class="form-label"></label>
                <select asp-for="PrioritiesSelectedList.SelectedPriority" class="form-select" asp-items="Model.PrioritiesSelectedList.Priorities">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ToDoTask.Status" class="form-label"></label>
                <select asp-for="StatusesSelectedList.SelectedStatus" class="form-select" asp-items="Model.StatusesSelectedList.Statuses">
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

